.collapsible {
    padding: 18px;
    width: 95%;
    text-align: center;
    outline: red solid 1px;
    background-color: black;
    color: white;
}

.active, .collapsible:hover {
    background-color: #343434;
}

.content {
    width: 95%;
    background-color: black;
    color: white;
    outline: red solid 1px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
