.collapsible {
    padding: 18px;
    width: 95%;
    text-align: center;
    outline: black solid 1px;
}

.content {
    width: 95%;
    background-color: #f1f1f1;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    padding: 8px;
}
