@font-face {
    font-family: w95fa;
    src: url(../Assets/fonts/w95fa.woff);
}

.center {
    align-items: center;
    height: 100vh;
    display: flex;
    text-align: center;
    width: 100vw;
    position: fixed;
    justify-content: center;
}